* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*paddingを 0 にする  */
.top-wrapper {
  padding:0;
  background-color:#BDBDBD;
  background-size: cover;
  color: #212121;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 70px ;
  background-color:#F5F5C6;
  color:#212121;
}

.logo {
  margin-top: 13px;
}

.header-center {
  text-align:center;
}


.lesson-wrapper {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #BDBDBD;
  text-align: center;
  display:block;
}

/* .lesson-wrapper:hover {
  cursur:pointer;
} */

.heading {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33.3333333333%;
}


.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: white;
}

/*20210520 modal　cursor */
/* .lesson-icon img{
  display:block;  
}   */

.lesson-icon img:hover{
  cursor:pointer;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

/* 20210520 modal*/
/*.login-modal-wrapper → lesson-modal-wrapper*/
.lesson-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
}

.modal {
  position: absolute center;
  top: 5%;
  margin:20px;
  background-color: #BDBDBD;
  border-radius: 10px;
  width:auto;
  height:96%;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 40px;
  right: 47px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

.modal img {
  padding:3%;
  margin-top:auto;
}

.back-next {
  float:right;
  position:relative;
  top:auto;
  padding-right:5%;
  font-size:40px;
}

.btn-back,btn-next:hover {
  cursor:pointer;
}
  
#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#system-btn-mac,#rhythm-btn-mac,#melody-btn-mac,#chord-btn-mac,#mix-btn-mac {
  display: inline-block;
  padding: 14px 20px;
  background-color: #27253D;
  border: none;
  border-radius: 3px;
  color: white;
  width:50%;
  margin: 10px auto;
  text-align:left;
  cursor: pointer;
}

#original-btn-mac {
  display: inline-block;
  padding: 14px 20px;
  background-color: #7DA87B;
  border: none;
  border-radius: 3px;
  color: white;
  width:50%;
  margin: 10px auto;
  text-align:left;
  cursor: pointer;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 100%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
  
  .fa-times {
    position: absolute;
    top: 30px;
    right: 45px;
}
  
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  
  .fa-times {
    position: absolute;
    top: 30px;
    right: 40px;
  }
}

.modal h2 {
    font-size:22px;
  }

@media all and (max-height:900px) {
  
  .modal img {
  height:150px;
  background-size:cover;
  padding:2%;
}

  .back-next {
  height:;
  font-size:40px;
  float:right;
  position:relative;
  top:45px;
  padding-right:5%;
}  
  
  #system-btn-mac,#rhythm-btn-mac,#melody-btn-mac,#chord-btn-mac,#mix-btn-mac {
  display: inline-block;
  padding: 14px 20px 28px 14px;
  background-color: #27253D;
  border: none;
  border-radius: 3px;
  color: white;
  width:50%;
  margin: 7px auto;
  text-align:left;
  line-height:15px;
  font-size:12px;
  height:15px;
  cursor: pointer;
}

#original-btn-mac {
  display: inline-block;
  padding: 14px 20px 14px 14px;
  background-color: #7DA87B;
  border: none;
  border-radius: 3px;
  color: white;
  width:50%;
  margin: 10px auto;
  text-align:left;
  line-height:15px;
  font-size:12px;
  cursor: pointer;
}

} 

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
  
  .fa-times {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  .modal h2 {
    font-size:16px;
  }
  
}
